@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
}
/* Hover para estilização dos links */
a:hover{
    color: gray;
}
header{
    background-color: #252B42;
    height: 52px;
    width: 100%;
}
.ContainerHeader{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    color: white;
}
.BoxHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33%;
    height: 100%;
}
/* Ocultar ícones do header mobile */
.fa-search{
    display: none !important;
    font-size: 5px;
}
.fa-shopping-cart{
    display: none !important;
    font-size: 5px;
}
.fa-bars{
    display: none !important;
    font-size: 5px;
}
.NomeMarca{
    font-family: 'Montserrat', sans-serif;
    width: 118px;
    font-size: 16.7px;
    font-weight: 600;
}
.NavHeader{
    width: 190px;
    display: flex;
    justify-content: space-around;
}
.NavHeader a{
    font-family: 'Montserrat', sans-serif;
    font-size: 9.75px;
    font-weight: 600;
    text-decoration: none;
}
.BoxHeaderLoginCadastro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}
.BoxHeaderLoginCadastro a{
    font-family: 'Montserrat', sans-serif;
    font-size: 9.75px;
    font-weight: 600;
    text-decoration: none;
}
.BotaoCadastro{
    width: 148px;
    height: 36px;
    background-color: #23A6F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.BotaoCadastro span{
    font-family: 'Montserrat', sans-serif;
    font-size: 9.75px;
    font-weight: 600;
    padding-left: 15px;
}
.BotaoCadastro i{
    font-size: 9.75px;
    padding-right: 15px;
}
/* Mobile Incompleto */
@media (max-width: 290px) {
    header{
        height: 370px;
    }
    .BoxHeaderLoginCadastro{
        display: none;
    }
    .ContainerHeader{
        width: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }
    .BoxHeader{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .NavSuperiorMobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    /* Mostar ícones do header mobile */
    .fa-search{
        font-size: 10px;
        display: inline-block !important;
    }
    .fa-shopping-cart{
        font-size: 10px;
        display: inline-block !important;
    }
    .fa-bars{
        font-size: 10px;
        display: inline-block !important;
    }
    .NomeMarca{
        width: 75%;
        font-size: 16.7px;
    }
    .NavHeader{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: unset;
        height: 150px;
        width: 100%;
    }
    .NavHeader a{
        font-size: 20.87px;
    }
}